/* ==== GLOBAL SETTINGS ====*/
html {
    background: #17253d; /* Dark blue */
    /* background: url("../img/koreanmarket.jpg") no-repeat fixed center;*/
}

h1, ul {
    margin: 0;
    padding: 0;
}
/* ==== END OF GLOBAL SETTINGS ====*/

/* ==== TYPOGRAPHY ====*/
body {
    color: #fff; /* white */
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-size: 16px; 
    line-height: 1.5;
    margin: 0;
}
h1 {
    font-size: 2em;
    line-height: 1.25;
}

h2 {
    font-size: 1.6em;
    line-height: 1.2;
}

h3 {
    font-size: 1.4em;
    line-height: 1.15;
}
section {
    font-size: 1em;
}
label {
    font-size: 0.8em;
}
/* ==== END OF TYPOGRAPHY ==== */


/* ==== LAYOUT ====*/
#root {
    margin: 0 auto;
    width: 100%;
}

header {
    background: #214870; /* navy blue */
    width: 100%;
    padding: 35px;
    text-align: center;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

#about {
    background: rgba(115,155,195,0.7); /* light greyish blue, semi-transparent */
    text-align: center;
    padding: 3% 15%;
}

main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.stationWrapper {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.stations {
    width: 100%;
    margin: auto;
    text-align: center;
}

.stations:nth-child(odd) {
    background: #949aa4;
    /* background: rgba(0,0,0,0.7); /* black, semi-transparent */
}

.stations:nth-child(even) {
    background: #535c6d;
    /* background: rgba(94,94,94,0.8); /* grey, semi-transparent */
}

/* ==== END OF LAYOUT ====*/

/* ==== GENERAL STYLES ==== */
select,
button {
    background: none;
    height: 25px;
    color: #fff; /* white */
    padding: 5px 15px;
    border: solid #fff 1px;
}

ul li {
    display: inline-block;
    margin: 5px 10px 0 0;
}

a {
    color: #fff; /* white */
}

a:hover {
    color: rgba(94,94,94,1)
}

input {
    background: #fff; /* white */
    padding: 5px 15px;
    border: solid #fff 1px /* white */
}
/* ==== END OF GENERAL STYLES ==== */

/* ==== GENERAL CLASSES ==== */
.mainNav  {
    margin-top: 20px;
}

.light-grey-bg {
    background: #CCCCCC; /* light grey */
}
.noBorder {
    border:none;
}

.btn {
    border-radius: 20px;
    background: rgba(255,255,255,0.5); /* light greyish blue, semi-transparent */
    color: #fff; /* white */
    font-size: 1em;
    line-height: 0em;
    width: 40%;
    margin: 2% 0 5% 0;
    padding: 15px 0px;
}
.btn:hover {
    background: #fff; /* white */
    color: #17253d; /* dark blue */
}

.btn:focus{
    outline: none;
    border: 3px solid #fff ; /* white */
}

.stations p {
    padding: 0 2%;
}

.contactLinks{
    padding-bottom: 8px;
}
/* ==== END OF GENERAL CLASSES ==== */

/* ==== POPUPS OPENED FROM .mainNav === */
.showPopups {
    background: #fff; /* white */
    color: #000; /* black */
    position: absolute;
    margin: 1% auto;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    overflow: scroll;
    padding: 10px;
    z-index: 100;
}

.showPopups a {
    color: #000; /* black */
}

.closePopupCross {
    display: block;
    position: absolute;
    right: 15px;
    top: -5px;
    cursor: pointer;
    font-size: 1.2em;
}

.observationList, .headerList{
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.content-box {
    columns: 3 auto;
    width: 100%;
}

.content-box li {
    margin: 0;
    padding: 4px;
    display: block;
}

.content-box:nth-child(even) {
    background: #CCCCCC; /* light grey */
}
/* ==== END OF POPUPS OPENED FROM .mainNav ==== */

/* ==== OBSERVATION FORM ====*/
.formBox {
    display: none;
}

.formBoxShown {
    display: block;
    background: rgb(115,155,195);
    box-shadow: 0px 0px 2px 0px #1C1C1C; /* dark grey */
    color: #fff; /* white */
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 640px;
    font-size: 1.1em;
}

.formContainer {
    margin: 0 auto;
    width: 95%;
    display: flex;
    text-align: left;
    justify-content: center;
}

fieldset {
    border: solid #fff 1px; /* white */
    margin-bottom: 25px;
    padding: 2px 10px 5px 10px;
}

.radioButton{
    padding-left: 10px;
}

#temperature {
    background: none;
    color: #fff; /* white */
    padding: 2px 2px 2px 8px;
    margin-left: 5px;
    border: 1px solid #fff ; /* white */
}

#temperature:focus{
    outline: none;
    border: 3px solid #fff ; /* white */
}

.submitSuccess {
    display: flex;
    background: green;
    margin-top: -28px;
    height: 70px;
    z-index: 160;
}

.submitError {
    display: flex;
    background: red;
    margin-top: -28px;
    height: 70px;
}

.ghostShown {
    background: rgba(255,255,255, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#submitText {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 0.8em;
    z-index: 12;
}

/* ==== END OF OBSERVATION FORM ====*/

/* ===== Media Queries ===== */

    /* ==== Responsive Layout ==== */
    @media screen and (min-width : 550px) {
        #root {
            width: 75%;
        }
        .formBoxShown{
            margin: 5% auto;
            width: 80%;
            height: 90%;
        }
        #submitText {
            font-size: 0.9em;
        }
    }

    @media screen and (min-width : 1025px) {
        /* Stations width grown for displaying station sections in a row */
        .stations {
            width: 50%;
            height: 25vh;
        }
        /* Checkers background color black */
        .stations:nth-child(1),
        .stations:nth-child(4),
        .stations:nth-child(5) {
            background: #535c6d; /* greyish blue */
        }
        /* Checkers background color grey */
        .stations:nth-child(2),
        .stations:nth-child(3),
        .stations:nth-child(6) {
            background: #949aa4; /* light grey */
        }
        .stations:nth-last-child(1):nth-child(odd) {
            background: linear-gradient(90deg, #535c6d 15%, #949aa4 95%);
            width: 100%;
        }
        .showPopups {
            width: 55%;
        }
        .formBox{
            width: 55%;
        }

        .formBoxShown{
            width: 40%;
        }
    }
    
    @media screen and (min-width : 1100px) {
        /* Pushes main navigation to the right side of the header in larger screens */
        header {
            display: flex;
            flex: 1;
            justify-content: space-between;
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction: row;
            -o-flex-direction: row;
            flex-direction: row;
        }
        ul li {
            margin: 20px 10px 0 0;
        }
        .mainNav  {
            margin-top: -5px;   
        }
        .formBox{
            width: 45% !important; /* TODO: Investigate why doesn't mediaqueries apply*/
        }
        .formContainer {
            width: 80%;
        }
    }
    
    /* Dealing with landscape layouts  */
    @media screen and (max-device-width: 1025px)
                  and (orientation: landscape) {
        .formBoxShown {
            height: 120%;
        }
    }

    @media screen and (max-height: 900px) {
        .stations {
            height: 250px;
        }
    }
    /* ==== End of Responsive Layout ==== */

    /* ==== Responsive Typography ==== */
    @media screen and (min-width : 1100px) {
        section {
            font-size: 1.4;
            line-height: ;
        }
    }
    @media screen and (min-width : 1025px) {
        section {
            font-size: 1.2em;
            line-height: ;
        }
    }
    @media screen and (min-width : 550px) {
        section {
            font-size: 1.1em;
            line-height: ;
        }
    }
    /* ==== End of Responsive Typography ==== */

/* ===== End of Media Queries ===== */
